@import '~antd/dist/antd.css';

.logo {
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    float: left;
    line-height: 31px;
    color: #021529;
    font-size: 18px;
    background: #d9d9d9;
    display: block;
    text-align: center;
    box-shadow: 0 0 12px 1px #efefef6e inset;
}
.ant-menu-submenu.ant-menu-submenu-horizontal {
    float: right;
}
.authWrapper {
    margin: 4% auto;
}
.verticalAlign{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.ant-menu-dark .ant-menu-item > a.current {
    background: #1890ff;
    color: #fff;
}
.ant-menu-item {
    padding: 0;
}
.ant-menu-dark .ant-menu-item > a {
    padding: 0 20px;
}
.moiveList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.moiveList .ant-col.ant-col-4 {
    margin-bottom: 3%;
}
.ant-layout-header {
    z-index: 999 !important;
}
